* {
  box-sizing: border-box;
}

:root {
  --green: #2e6f40;
  --lightgreen: #68ba7f;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
}

p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 100%;
  height: 25px;
  background-color: var(--green);
  border: 1px solid var(--green);
}

.hamburger-menu {
  background-color: gray;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  transition: 0.3s ease;
}

.close-btn {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  translate: 700% 20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-menu.is-open {
  left: 0;
}

.hamburger-icon {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  display: flex;
  margin-top: 70%;
}

.search-icon {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  display: flex;
  margin-top: 70%;
  font-weight: 100;
}

.nav {
  list-style: none;
}

.nav li {
  margin-bottom: 1.8em;
  translate: -10%;
}

.nav li:last-child {
  margin-bottom: 0;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 500px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1 {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  text-align: center;
}

.carousel {
  display: flex;
  /* margin 3em auto zorgt voor 3em afstand boven en onder carousel-class 
  en met auto berekent browser margin links en rechts */
  margin: 1em auto;
  gap: 1em;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
  transform: scale(0.85);
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

.card {
  border-radius: 6px;
  /* tekst gaat centreren */
  text-align: center;
  padding: 1em;
  flex: 0 0 20em;
  scroll-snap-align: start;
}

/* scrollbar verdwijnt */
.carousel::-webkit-scrollbar {
  display: none;
}

/* rechts en links scrollen */
.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  content: "→";
  background-color: var(--lightgreen);
  border: var(--lightgreen);
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position-anchor: --carousel;
  position-area: right center;
  /* margin-left: -2em; */
}

.carousel::scroll-button(left) {
  content: "←";
}

/* als je niet meer kan scrollen opacity lager */
.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.9;
  /* cursor auto zorgt voor cursor change wanneer button disabled is */
  cursor: auto;
}

.img-2 {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  text-align: center;
}

.img-3 {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  text-align: center;
}

footer {
  background-color: var(--green);
}

footer h2 {
  color: white;
  text-align: center;
}

/* animatie voor de slide van school logo's */
/* per 10% een transform zodat alle img's zichtbaar worden bij de slide */
@keyframes slide {
  0% {
    /* 15% zorgt ervoor dat de 1e img van de slide iets langer zichtbaar is */
    transform: translateX(15%);
  }
  10% {
    transform: translateX(-300px);
  }
  20% {
    transform: translateX(-600px);
  }
  30% {
    transform: translateX(-900px);
  }
  40% {
    transform: translateX(-1200px);
  }
  50% {
    transform: translateX(-1500px);
  }
  60% {
    transform: translateX(-1800px);
  }
  70% {
    transform: translateX(-2100px);
  }
  80% {
    transform: translateX(-2400px);
  }
  90% {
    transform: translateX(-2700px);
  }
  100% {
    /* 15% zorgt ervoor dat de 1e img van de slide iets langer zichtbaar is */
    transform: translateX(15%);
  }
}

.school-logos {
  overflow: hidden;
}

/* foto's naast elkaar zetten + animatie van keyframes hierboven */
.school-logos-slide {
  white-space: nowrap;
  animation: 33s slide infinite linear;
}

.school-logos-slide img {
  height: 50px;
}
